{% extends 'projects/base2.html' %}
{% load static %}


{% block content %}
<div style="position:absolute;top:0;left:0;z-index:50;display:flex;">
    <div class="section-1">
        <div class="title-header">
            <h1>CHOKIDR</h1>
        </div>
        <div class="project-description">
            <h5>Security and wellness assistant</h5>
        </div>
        <div class="project-testimonial">
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis deserunt mollit anim id est laborum"
            </p>
        </div>
        <div class="project-client">
          <p>
            Lorem ipsum dolor Director consectetur adipiscing elit
          </p>
        </div>
        

    </div>
    
    <div class="section-2">
        <div>
            <video src="{% static 'videos/chokidar.mp4' %}" autoplay loop playsinline muted playbackRate = "5" style="height:100%;width:100%;display: block; object-fit: fill;"></video>
        </div>
    </div>
    <div class="section-3">
        <div class="bubble-1">
            <img src="{% static 'images/bubble-1.svg' %}" alt="" srcset="" style="height:100%;width:100%;">

        </div>
    </div>
    <div class="section-4">
        <p>
            Chokidr is an intelligent contactless system company which ensure safety and wellness of consumers. It is smart, advanced, Indian and guard for thousands of users. We designed a face of Indian man with mustache and cap who is mostly recognised as security persons. Being a security agent the logo represents the sense of security and kinship.
        </p>
    </div>
    <div class="section-5">
        <div>
            <video src="{% static 'videos/chokidar.mp4' %}" autoplay loop playsinline muted playbackRate = "5" style="height:100%;width:100%;display: block; object-fit: fill;"></video>
        </div>
    </div>
    <div class="section-6">
        <div class="bubble-1">
            <img src="{% static 'images/bubble-1.svg' %}" alt="" srcset="" style="height:100%;width:100%;">

        </div>
    </div>
</div>

<section style="position:absolute;right:0;top:0;z-index:100;width:100vw;overflow:hidden;height:100vh;">
            
        <div id="load_animation" style="position:absolute;height:100%;width:100%;background-image:url({% static 'images/portfolio_animate.svg' %});background-size:cover;float:right;">
           
        </div>
   
</section>
   
<div style="width:4000px;height:100vh;background-color:black;overflow:hidden;position:absolute;top:0;left:0;" class="bg-videocontainer">
    <div class="bg_video" style="position:absolute;top:0;left:0;overflow:hidden">
        <video src="{% static 'videos/project_bg.m4v' %}" autoplay loop playsinline muted playbackRate = "5" style="z-index:-1;display:block;overflow-y:hidden;"></video>
    
    </div>
   
</div>
   


</div> 
<script>
    window.onload = () => {
        setTimeout(()=>{
            console.log("hi");
            document.getElementsByTagName("body")[0].style.overflowX="scroll";
            document.getElementById("load_animation").style.display="none";

        },4000)

};
</script>   
{% endblock content %}


