{% extends 'base.html' %}
{% load static %}
    <!-- nav -->
    <!-- <nav class="navbar">
     <img class="hamburger" src="images/menu.svg" alt="">
    </nav> -->
    <!--  -->
    {% block title %}Manthan Creations | A design and developing agency{% endblock %}
    {% block css %}
    <style>
        body{
            background-color:#F1F4FF;
            overflow-y:hidden;
        }
        .hidden{
            display:none;
        }
        #preload-container{
            position:fixed;
            left:0;
            top:0;
            height:100vh;
            width:100vw;
           
            z-index:1000000;
            
        }
        #preloader-image{
           
            position:fixed;
            left:0;
            top:0;
            height:100%;
            width:100%;
            z-index:2000000;
        }
        #preloader-image img{
            position:fixed;
            left:0;
            top:0;
            height:100%;
            width:100%;
            
           
        }
        #preloader-box{
            position:fixed;
            left:0;
            top:0;
            height:100%;
            
            background-color:#49D1C9;

             z-index:1500000;
             animation: fullLoader 4s;
        }
        #preloader-box-help{
            position:fixed;
            top:0;
            left:0;
            background-color:#F1F4FF;
            height:100vh;
            width:100vw;
            z-index:1400000;
        }
        @keyframes fullLoader {
        from {width: 0%;}
        to {width:100%;}
        }
        #preloader-image-2{
           
           position:fixed;
           left:14vw;
           top:5vh;
           height:50vw;
           z-index:2500000;
       }
       #preloader-image-2 img{
           
            height:100%;
            width:100%;
            
           
        }
    </style>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   
    <link rel="stylesheet" href="{% static 'css/landing-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/servicestyle.css' %}">
    {% endblock %}
{% block content %}
<!-- background audio -->
<!-- <audio controls autoplay style="opacity: 0;">
    <source src="{% static 'audios/bgaudio.mp3' %}" type="audio/mpeg">
    
  </audio> -->
<!-- background audio -->
<!-- preloader -->

<div id="preloader-container">
    <div id="preloader-image">
        <img src="{% static 'preload/preload-1.png' %}">
    </div>
    <div id="preloader-image-2">
        <img src="{% static 'preload/preload-2.png' %}">
    </div>
    <div id="preloader-box"></div>
    <div id="preloader-box-help"></div>
</div>

<script>
   
    
    
    </script>
<!-- preloader -->
    <div class="mascot">
        <img src="{% static 'images/mascot.png' %}">
    </div>
    <div class="main">
        <section id="welcome-screen">
        <img src="{% static 'images/welcome-image-2.svg' %}" id="welcome-image-1">
        <img src="{% static 'images/mascot.svg' %}" id="mascot">
        <!-- <img src="{% static 'images/hamburger-bg.svg' %}" id="hamburger-bg">
        <img src="{% static 'images/hamburger-icon.svg' %}" id="hamburger-icon"> -->
        <img src="{% static 'images/title_home.png' %}" id="title-site">
        
    
       
        <div id="welcome-navigation">
            <ul id="mainMenu">
                <li><a href="{% url 'blog:portfolio' page=1 %}">Portfolio</a></li>
                <li><a href="#service-header">Services</a></li>
                <li><a href="{% url 'blog:contact' %}">Contact Us</a></li>
               
            </ul>

        </div>
        <div id="mobile-menu">
            <div class="mobile-menu-content">
                <a href="{% url 'blog:portfolio' page=1 %}">Portfolio</a>

            </div>
            <div class="mobile-menu-content">
                <a href="#service-header">Services</a>

            </div>
            <div class="mobile-menu-content">
                <a href="{% url 'blog:contact' %}">Contact Us</a>

            </div>
        </div>
        </section>
        <section id="welcome-video">
            <!-- <img src="{% static 'images/hamburger-bg.svg' %}" id="hamburger-bg">
            <img src="{% static 'images/hamburger-icon.svg' %}"  id="hamburger-icon"> -->
            <!-- <img src="{% static 'images/welcome-image-3.svg' %}" id="welcome-image-3"> -->
            <div class="video-container">
              <div class="video-container-content animate__fadeInUp animate__animated">
                <iframe src="https://www.youtube.com/embed/aszCVdjZzUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;" allowfullscreen></iframe>
              </div>
            </div>
        </section>
        <section>
           
            </div>
             









        </section>
       
      </div>
      
   
<div class="firtImg" id="service-header"> 
    <img class="service_bg" src="{% static 'images/service-bg.svg' %}" alt="">
</div>
<h1 class="head_1" style="font-weight:900;-webkit-text-stroke-width:3px;">S E R V I C E S</h1>
<!-- app and web section -->
<div class="app">
    <!-- content -->
    <div class="content" >
        <div style="width:90%;">
        <h2 class="head_2">APPLICATION & WEBSITE <br>DEVELOPMENT</h2>
    </div>

<div class="btn"> <h3 class="btn_text">Discover our Projects</h3></div>
    </div>
    <!--  -->
<div class="chokidr-container">
        <div class="chokidr animate__animated animate__fadeIn"> 
        
            <video src="{% static 'videos/chokidar.mp4' %}" id="project-video-1" autoplay loop >
        
        </div>
        <!-- <div class="chokidr-image">
            <img src="{% static 'images/watch.png' %}">

        </div> -->
 </div>
</div>
<!-- service icon section -->
<div class="services">
    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/computer icon.svg' %}" alt=""></div>
        <div class="icon_text">UI / UX</div>
    </div>

    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/computer icon 2.svg' %}" alt=""></div>
        <div class="icon_text">Buisiness<br>
            Website</div>
    </div>
    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/computer icon 3.svg' %}" alt=""></div>
        <div class="icon_text">E-Commerce<br>
            Website</div>
    </div>
    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/computer icon 4.svg' %}" alt=""></div>
        <div class="icon_text">Portfolio <br>Website</div>
    </div>
    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/computer icon 5.svg' %}" alt=""></div>
        <div class="icon_text">Wordpress<br>
            Website</div>
    </div>
    <div>
        <div class="icon">
            <img class="icon_img" src="{% static 'images/computer icon 6.svg' %}" alt="">
        </div>
        <div class="icon_text">Landing<br>
            Pages
        </div>
    </div>
</div>
<div id="bgvideo" style="position:relative;z-index:-1">
    <video playbackRate ='10' src="{% static 'videos/bgvideo.mp4' %}" autoplay loop playsinline muted playbackRate = "5" style="position:absolute;width:100vw;top:-80.5vw;z-index:-1;"></video>
</div>

<!-- brand -->
<div class="app">
    <div class="chokidr-container">
        <div class="s2 animate__animated animate__fadeIn"> 
        
            <video src="{% static 'videos/Pragya.mp4' %}" id="project-video-1" autoplay loop >
        
        </div>
        <!-- <div class="chokidr-image">
            <img src="{% static 'images/watch.png' %}">

        </div> -->
   </div>
    
    <!-- content -->
    <div class="content">
        <h2 class="head_2">BRANDING & <br>MARKETING</h2>


<div class="btn2"> <h3 class="btn_text">Discover our Projects</h3></div>
    </div>
    <!--  -->

</div>
<div class="services">
    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/brand1.svg' %}" alt=""></div>
        <div class="icon_text">Brand Srategy</div>
    </div>

    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/brand2.svg' %}" alt=""></div>
        <div class="icon_text">Brand Identity</div>
    </div>
    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/brand3.svg' %}" alt=""></div>
        <div class="icon_text">Social Media<br> Marketing
           </div>
    </div>
    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/Group 150.svg' %}" alt=""></div>
        <div class="icon_text">Research & <br>Data</div>
    </div>
    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/Group 151.svg' %}" alt=""></div>
        <div class="icon_text">Innovation</div>
    </div>
    <div>
        <div class="icon">
            <img class="icon_img" src="{% static 'images/Group 152.svg' %}" alt="">
        </div>
        <div class="icon_text">Marketing strategy
        </div>
    </div>
</div>
    <!-- content and design -->
<div class="app">
    <!-- content -->
    <div class="content">
        <h2 class="head_2">CONTENT & <br>DESIGN</h2>


<div class="btn3"> <h3 class="btn_text">Discover our Projects</h3></div>
    </div>
    <!--  -->
    <div class="chokidr-container">
        <div class="chokidr animate__animated animate__fadeIn"> 
        
            <video src="{% static 'videos/abcd.mp4' %}" id="project-video-1" autoplay loop >
        
        </div>
        <!-- <div class="chokidr-image">
            <img src="{% static 'images/watch.png' %}">

        </div> -->
    </div>
</div>
<!-- service icon section -->
<div class="services">
    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/computer icon.svg' %}" alt=""></div>
        <div class="icon_text">Logo Design</div>
    </div>

    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/computer icon 2.svg' %}" alt=""></div>
        <div class="icon_text">2D/3D Graphics</div>
    </div>
    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/computer icon 3.svg' %}" alt=""></div>
        <div class="icon_text">Video and Photography
           </div>
    </div>
    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/computer icon 4.svg' %}" alt=""></div>
        <div class="icon_text">Packaging design</div>
    </div>
    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/computer icon 5.svg' %}" alt=""></div>
        <div class="icon_text">Buisness Stationary</div>
    </div>
    <div>
        <div class="icon">
            <img class="icon_img" src="{% static 'images/computer icon 6.svg' %}" alt="">
        </div>
        <div class="icon_text">Copyrighting
        </div>
    </div>
</div>

<!-- Digital Enterprise & Development -->
<div class="app">
    <div class="chokidr-container">
        <div class="s2 animate__animated animate__fadeIn"> 
        
            <video src="{% static 'videos/pj.mp4' %}" id="project-video-1" autoplay loop >
        
        </div>
        <!-- <div class="chokidr-image">
            <img src="{% static 'images/watch.png' %}">

        </div> -->
    </div>
    <!-- content -->
    <div class="content">
        <h2 class="head_2">DIGITAL ENTERPRISE &<br> DEVELOPMENT</h2>


<div class="btn4"> <h3 class="btn_text">Discover our Projects</h3></div>
    </div>
    <!--  -->

</div>
<div class="services">
    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/Group 84.svg' %}" alt=""></div>
        <div class="icon_text">Digital <br>Strategy</div>
    </div>

    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/computer icon 2.svg' %}" alt=""></div>
        <div class="icon_text">Campaign planning <br>and execution</div>
    </div>
    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/Group 85.svg' %}" alt=""></div>
        <div class="icon_text">Research and <br>planning
           </div>
    </div>
    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/Group 87.svg' %}" alt=""></div>
        <div class="icon_text">SEO & SEM</div>
    </div>
    <div>
        <div class="icon"><img class="icon_img" src="{% static 'images/Group 88.svg' %}" alt=""></div>
        <div class="icon_text">Advertisement</div>
    </div>
    <div>
        <div class="icon">
            <img class="icon_img" src="{% static 'images/Group 89.svg' %}" alt="">
        </div>
        <div class="icon_text">Brand <br>development
        </div>
    </div>
</div>

    <div id="bgvideo" style="position:relative;z-index:-1">
        <video src="{% static 'videos/bgvideo1.m4v' %}" autoplay loop playsinline muted playbackRate = "5" style="position:absolute;width:100vw;top:-90vw;z-index:-1;"></video>
    </div>
    <!-- client -->
    <h1 class="head_1" style="margin-top:20vw;">CLIENTELE</h1>

    <div class="client" style="position:relative">
        <img style="height:50vw;" src="{% static 'images/clientele_1.png' %}" alt="" id="clientele-holder">
        <div class="client-navigation"  style="position:absolute;right:33vw;bottom:6vw;">
            <img src="{% static 'images/icon-nav-1.png' %}" alt="" id="clientele-holder-nav-1" style="height:1.5vw;display:block !important;"><br>
            <img src="{% static 'images/icon-nav-2.png' %}" alt="" id="clientele-holder-nav-2" style="height:1vw;position:relative;right:0.5vw;display:block !important;"><br>
            <img src="{% static 'images/icon-nav-2.png' %}" alt="" id="clientele-holder-nav-3" style="height:1vw;position:relative;right:2vw;display:block !important;">
        </div>
  </div>

{% endblock %}

<!-- Mascot movement -->
{% block js %}
<script>
    $('#clientele-holder-nav-1').click(function() {
        // $('#clientele-holder-nav-1').attr("src","static/images/icon-nav-1.png");
        // $('#clientele-holder-nav-2').attr("src","static/images/icon-nav-2.png");
        // $('#clientele-holder-nav-3').attr("src","static/images/icon-nav-2.png");
        $('#clientele-holder-nav-1').css("height","1.5vw");
        $('#clientele-holder-nav-2').css("height","1vw");
        $('#clientele-holder-nav-3').css("height","1vw");

    });
    $('#clientele-holder-nav-2').click(function() {
        // $('#clientele-holder-nav-1').attr("src","static/images/icon-nav-2.png");
        // $('#clientele-holder-nav-2').attr("src","static/images/icon-nav-1.png");
        // $('#clientele-holder-nav-3').attr("src","static/images/icon-nav-2.png");
        $('#clientele-holder-nav-1').css("height","1vw");
        $('#clientele-holder-nav-2').css("height","1.5vw");
        $('#clientele-holder-nav-3').css("height","1vw");

    });
    $('#clientele-holder-nav-3').click(function() {
        // $('#clientele-holder-nav-1').attr("src","static/images/icon-nav-2.png");
        // $('#clientele-holder-nav-2').attr("src","static/images/icon-nav-2.png");
        // $('#clientele-holder-nav-3').attr("src","static/images/icon-nav-1.png");
        $('#clientele-holder-nav-1').css("height","1vw");
        $('#clientele-holder-nav-2').css("height","1vw");
        $('#clientele-holder-nav-3').css("height","1.5vw");

    });
</script>
<script>

var window_width = $(window).width() - $('.mascot').width();

var document_height = $(document).height() - $(window).height();

$(function () {
    $(window).scroll(function () {
        
        
        var scroll_position = $(window).scrollTop();
        // var object_position_left = window_width * (scroll_position / document_height);
        let height = window.innerHeight;
        var x=(scroll_position-1.9*height)*0.18;
        if(x<0){
            $('.mascot').css({
                'display':'none'
        });
            return;
        }
        $('.mascot').css({
                'display':'block'
        });
        console.log(x)
        let width = window.innerWidth;
        var y=0.9*width*(Math.sin(x/100)*Math.sin(x/100));
        $('.mascot').css({
            'right': y
        });
        $('.mascot').css({
            'top': x
        });
        $('.mascot').css({
                   'transform': 'rotate('+y*-0.15+'deg)'
        });
    });
});
</script>
<!-- <script>
     var p=document.getElementById('project-video-1')
        p.play(); 
    $(".chokidr-container").hover( hoverVideo1, hideVideo1 );

    function hoverVideo1() {
        $('.chokidr').css({
            'display': 'block'
        }); 
        // $('.chokidr').addClass();
        $('.chokidr-image').css({
            'display': 'none'
        });
        
        p.play(); 
    }

    function hideVideo1(e) {
        $('.chokidr').css({
            'display': 'none'
        });  
        $('.chokidr-image').css({
            'display': 'block'
        });
       
        p.pause();
    }
</script> -->

<script>
    setTimeout(function (){
        $("#preloader-container").css("display","none");
        $("body").css("overflow-y","scroll");
    }
    ,4000)
</script>

<!-- <script>
           
    var h=window.innerHeight;
    window.addEventListener('wheel', function(event)
    {
     if (event.deltaY < 0)
     {
      console.log('scrolling up');
     
     }
     else if (event.deltaY > 0)
     {
        var pos=$(window).scrollTop();
        console.log(pos);
        
         if(pos<h){
            window.scrollTo(0, h);
            console.log(h)
            console.log('hey')
            console.log($(window).scrollTop());
         }
         
         else if(pos<2*h){
            window.scrollTo(0, 2*h);
         }
     
     }
    }
    );
    
 </script> -->

{% endblock %}

<!-- Mascot movement -->
<!-- Video on hover -->
